<%- include('../partials/header') %>

<div class="container error-container">
    <h1>500 - Server Error</h1>
    <p>Sorry, something went wrong on our end. Please try again later.</p>
    <a href="/" class="btn btn-primary">Go to Homepage</a>
</div>

<%- include('../partials/footer') %>
