<footer id="kontak" class="footer">
    <div class="footer-content">
        <div class="footer-brand">
            <img src="/img/logo.png" alt="Revoz Logo" class="logo">
            <p>Masa depan ada di pergelangan tangan Anda.</p>
        </div>
        <div class="footer-social">
            <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Revoz. All Rights Reserved.</p>
    </div>
</footer>

<script src="/js/main.js"></script>
</body>
</html>