<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/">
                <img src="/img/logo.png" alt="Revoz Logo" class="logo">
                <span class="brand-name">Revoz Smartwatch</span>
            </a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item"><a href="#hero" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#produk" class="nav-link">Produk</a></li>
            <li class="nav-item"><a href="#fitur" class="nav-link">Fitur</a></li>
            <li class="nav-item"><a href="#tentang" class="nav-link">Tentang Kami</a></li>
            <li class="nav-item"><a href="#kontak" class="nav-link">Kontak</a></li>
        </ul>
        <a href="#produk" class="cta-button">Beli Sekarang</a>
    </nav>
</header>
<%- include('head') %>